body{
    background-color: aqua;
}

a{
    font-size: 30px;
}

/*order : link,visited, hover, active*/


a:link, a:visted {
    background-color: hotpink;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover{
    background-color: red;
}
a:active{
    background-color: forestgreen;
}